body { background-color:#151d1f; color:#FFF; font-family:'Ubuntu', sans-serif; font-size:16px; font-weight:400; }
.table-div { display:table; color:#FFF; max-width:800px; }
.table-div > div { display: table-row; }
.table-div > div > div { display: table-cell; padding:5px 8px; }
input { width:75%; max-width:200px; padding:5px 5px; background-color:transparent; color:#FFF; border:1px solid #AAA; text-align:right; }
.bg-dark { background-color:#000; color:#FFF; }
.bg-dark > div { font-size:23px; }