<!DOCTYPE html>
<html>
<head>
	<title>DRIP Network Crypto Faucet Simulator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>DRIP Simulator</h1>
            <div class="table">
                <div class="bg-dark"> <div>Config</div> <div></div> </div>
        
                <div> <div>BNB Price</div> <div><input v-model.number="bnb_price_usd" type="text"> USD</div></div>
                <div> <div>BNB/DRIP Ratio</div> <div><input v-model.number="bnb_drip_ratio" type="text"> {{ drip_usd }} USD</div></div>
                <div> <div>Gas Fee</div> <div><input v-model.number="gas_fee_bnb" type="text"> BNB ({{ bnb_to_usd(gas_fee_bnb) }} USD)</div></div>
                <div> <div></div> <div></div> </div>
        
                <div class="bg-dark"> <div>Deposit</div> <div></div> </div>
                <div> 
                    <div>Balance</div>
                    <div> 
                        <input v-model.number="balance_drip" type="text"> DRIP
                        <span><div class="btn btn-primary my-1" @click="action($event, 'deposit')" :data-val="balance_drip">DEPOSIT</div></span>
                    </div>
                </div>
        
                <div class="bg-dark"> <div>Faucet</div> <div></div> </div>
                <div> <div>Last Day Income</div> <div>{{ drip_to_usd(faucet.last_day_income) }} USD / {{ faucet.last_day_income|decimal_3 }} DRIP</div> </div>
                <div> <div>Deposits</div> <div>{{ drip_to_usd(faucet.deposit) }} USD / {{ faucet.deposit|decimal_3 }} DRIP</div> </div>
                <div> 
                    <div>Available</div> 
                    <div>
                        {{ drip_to_usd(faucet.available) }} USD / {{ faucet.available|decimal_3 }} DRIP
                        <span v-if="faucet.available > 0">
                            
                            <div class="btn btn-primary mx-2" @click="action($event, 'compound')" :data-val="faucet.available">HYDRATE</div>
                            <div class="btn btn-primary mx-2" @click="action($event, 'withdraw')" :data-val="faucet.available">CLAIM</div>
                        </span>
                        <span v-else style="font-size:13px;">To claim, set hydrate to stop and step forward.</span>
                    </div> 
                </div>
                <div> <div>Claimed</div> <div>{{ drip_to_usd(faucet.claimed) }} USD / {{ faucet.claimed|decimal_3 }} DRIP</div> </div>
                <div> <div>Max Payout</div> <div>{{ drip_to_usd(faucet_max_payout) }} USD / {{ faucet_max_payout|decimal_3 }} DRIP</div> </div>
                
                <div> <div>Investment</div> <div>{{ drip_to_usd(faucet.investment) }} USD / {{ faucet.investment|decimal_3 }} DRIP</div> </div>
                <div> <div>Withdraw</div> <div>{{ drip_to_usd(faucet.withdraw) }} USD / {{ faucet.withdraw|decimal_3 }} DRIP</div> </div>
                <div> <div>Total Gas Fee</div> <div>{{ bnb_to_usd(gas_fee_total) }} USD / {{ gas_fee_total|decimal_3 }} DRIP</div> </div>
                <div> <div>Total P&L</div> <div>{{ revenue_usd }} USD</div> </div>


                <div> <div>Total Network Taxes</div> <div>{{ drip_network_income|decimal_3 }} ({{ drip_to_usd(drip_network_income) }} USD)</div> </div>

                <div> <div></div> <div></div> </div>
        
                <div class="bg-dark"> <div>Time Machine</div> <div></div> </div>
                <div> <div>Days Passed</div> <div>{{ sim.day_passed }} ({{ month_passed }} Month)</div> </div>
                <div> 
                    <div>Hydrate (Compound)</div>
                    <div>
                        <span>
                            <div class="btn-group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                                <label @click="action($event, 'sim-compound-mode')" data-val="NONE" class="btn btn-primary" for="btnradio1">Stop & Collect</label>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label @click="action($event, 'sim-compound-mode')" data-val="EVERYDAY" class="btn btn-primary" for="btnradio2">Everyday</label>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
                                <label @click="action($event, 'sim-compound-mode')" data-val="EVERYSTEP" class="btn btn-primary" for="btnradio3">Every Step</label>
                            </div>
                        </span>
                    </div>
                </div>
                <div> 
                    <div>Day Step Forward</div>
                    <div> 
                        <span v-if="faucet.deposit > 0">
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="1">1</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="2">2</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="5">5</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="7">7</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="10">10</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="14">14</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="30">30</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="100">100</div>
                            <div class="btn btn-primary mr-1" @click="action($event, 'day-forward')" data-val="365">365</div>
                        </span>
                        <span v-else>Deposit Needed</span>
                    </div>
                </div>        
        
            </div>
        </div>

    </div><!-- APP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script><!-- PROD <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="app.js"></script>
</body>
</html>

